body{
    background-image: url("Salzburg1.jpg");
    background-size: cover;
}

td{
    font-size: larger;
    color: yellow;
}

.var{
    width: 500px;
    border: 5px solid red;
}

.var2{
    width: 500px;
    border: 5px solid red;
}

h1{
    margin-left: 800px;
}

.falu{
    width: 500px;
    border: 5px solid red;
}
table{
    margin-left: 100px;
    border: 5px solid red;
}
th{
    font-size: 30px;
    color: aqua;
}
.sobanya{
    width: 500px;
    border: 5px solid red;
}

a{
    color: yellow;
}